# Ignore EVERYTHING by default
*

# Project Source
!/ssl-v9/
!/ssl-v9/**


# Whitelist (Allow) these specific files/directories:
!/.gitignore
!/README*.md
!/readme-versions/README*.md
!/LICENSE*
!/setup.ps1

# Binaries
!/binaries/
!/binaries/*
!/release/
!/release/*

# Assets referenced in README
!*.png
!*.jpg
!*.svg
!/assets/
!/assets/*

# Github Workflows (Optional, but usually good to keep)
!/.github/
!/.github/**
